<!doctype html>
<html ng-app='pedigreeApp'>
    <head>
        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.6.1/papaparse.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
        <script src="./variables.js"></script>
        <script src="./lib.js"></script>
        <link rel="stylesheet" type="text/css" href="./style.css">
    </head>
    <body>
        <div ng-controller="MainController">
            <b>Upload a CSV file</b>
            <button type="file" ngf-select="fileUpload($file, $invalidFiles)"
                accept="text/csv" ngf-max-height="1000" ngf-max-size="1MB">
                Select File
            </button> {{fileName}}
            <hr>
            <ul class="samples">
                <li class="sample">
                    <div class="left">
                        <div class="description">Animal-ID (♂)</div>
                    </div>
                    <div class="right">
                        <div class="description">Mating Partners (♀) with
                            <select ng-options="item as item.label for item in comparingLevels" ng-model="comparingLevel" ng-change="process()"></select>
                            common ancestors.</div>
                    </div>
                    <div class="clear"></div>
                </li>
                <li ng-repeat="sample in samples" class="sample">
                    <div class="left">
                        <div>{{sample.id}}</div>
                    </div>
                    <div class="right">
                        <div class="desc">{{sample.mates.length}} Partners</div>
                        <ul>
                            <li ng-repeat="m in sample.mates"
                                class="mate" title="Common Ancestors: {{m.commonAncestorStr}}"
                            >
                                {{m.id}}
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </li>
            </ul>
        </div>
    </body>
</html>
